{% extends "main.html" %}
{% block content %}

    <div class="container-fluid post" style="height:100vh;background-color:rgba(0,0,0,0.6);color:#ffffff;background-image:url(&quot;/static/img/ball.png&quot;);background-repeat:no-repeat;background-size:cover;font-family:'Architects Daughter', cursive;">


    {% include "navbar.html" %}

        <div class="row">
            <div class="col-md-12">
                <h1 style="color:#ffffff;background-color:rgba(0,0,0,0.6);padding:10px;">Edit {{ franchise.name }}</h1>
            </div>
        </div>
        <form action="#" method="post" style="margin-top:15px;background-color:rgba(0,0,0,0.6);padding:5px;">
            <div class="row" style="width:1000px;background-color:rgba(0,0,0,0.08);">
                <div class="col-md-4">
                    <div class="form-group" style="color:#ffffff;font-size:20px;"><label class="control-label" style="font-size:20px;width:50px;height:50px;padding:5px;">Name</label><input class="form-control" name="name" value="{{ franchise.name }}" type="text" style="color:#ffffff;line-height:29px;height:50px;padding-left:15px;font-size:25px;padding-bottom:15px;"></div>
                </div>
                <div class="col-md-4"><select class="form-control" name="conference" style="color:#ffffff;height:60px;margin-top:45px;font-size:20px;"><option value="" selected="">Choose Conference</option><option value="East">East</option><option value="West">West</option></select>
                </div>
                <div
                    class="col-md-4 relative" style="width:300px;height:300px;">
                    <div class="avatar-bg center" style="background-color:#333333;"></div><input type="file" class="form-control" name="image" style="color:#ffffff;background-color:rgba(0,0,0,0.6);margin-top:10px;padding:5px;padding-top:5px;">
                </div>

            <div class="col-md-6"><button class="btn btn-primary btn-lg" type="submit"  style="background-color:rgba(255,255,255,0.4);">Save</button></div>
            <div class="col-md-6"><a href = "{{url_for('displayFranchises')}}">
                <button class="btn btn-default btn-lg">Cancel</button></a></div>

    </div>
    </form>
    </div>
{% endblock %}

