{% extends "main.html" %}
{% block content %}

<div class="container-fluid post" style="height:100vh;background-color:#333333;color:#ffffff;background-image:url(&quot;/static/img/blackcourt.jpg&quot;);background-repeat:no-repeat;background-size:cover;font-family:'Architects Daughter', cursive;">

    {% include "navbar.html" %}

        <div class="row">
            <div class="col-md-2" style="margin-top:25px;"><a class="btn btn-default" role="button" href="{{url_for('home')}}" style="margin-right:10px;margin-left:0px;color:rgba(0,0,0,0.6);">Home</a></div>
            <div class="col-md-2" style="margin-top:25px;"><a class="btn btn-default" role="button" href="{{url_for('displayFranchises')}}" style="margin-right:10px;margin-left:0px;">Display Franchises</a></div>
            <div class="col-md-2" style="margin-top:25px;"><a class="btn btn-default" role="button" href="http://www.nba.com/allstar" target="_blank" style="margin-right:10px;margin-left:0px;color:rgba(0,0,0,0.6);">All Star Weekend</a></div>
            <div class="col-md-6">
                <h3 class="text-center" style="color:#ffffff;">{{ franchise.name }}</h3>
            </div>
        </div>

        {% if roster !=[] %}
        <div class="row">
            {% for r in roster %}
                        {% if r.position == 'Small Forward' %}
            <div class="col-md-2 col-md-offset-0">
                <div class="thumbnail" style="margin-bottom:10px;background-color:rgba(0,0,0,0.08);"><img src="{{r.image}}" data-bs-hover-animate="jello" style="width:125px;">
                    <div class="caption">
                        <h4 class="text-center" style="color:#ffffff;background-color:rgba(0,0,0,0.6);">Small Forward</h4>
                        <ul class="list-group">
                            <li class="list-group-item" style="background-color:#ffffff;color:#333333;"><span class="text-uppercase" style="color:#333333;">{{r.name}}</span></li>
                            <li class="list-group-item" style="background-color:#ffffff;color:#ffffff;"><span class="text-uppercase" style="color:#333333;">{{r.age}} years old</span></li>
                            <li class="list-group-item" style="color:#ffffff;background-color:#ffffff;"><span class="text-uppercase" style="color:#333333;">{{r.height}}</span></li>
                            <li class="list-group-item" style="color:#ffffff;background-color:#ffffff;"><span class="text-uppercase" style="color:#333333;">{{r.weight}} lbs</span></li>
                            <li class="list-group-item" style="color:#ffffff;background-color:#ffffff;"><span class="text-uppercase" style="color:#333333;">{{r.ppg}} points per game</span></li>
                            <li class="list-group-item" style="color:#ffffff;background-color:#ffffff;"><span class="text-uppercase" style="color:#333333;">${{r.price}}</span></li>
                        </ul>
                    </div>
                </div>
            </div>
                {% endif %}
            {% endfor %}

             {% for r in roster %}
                        {% if r.position == 'Power Forward' %}
            <div class="col-md-2 col-md-offset-0">
                <div class="thumbnail" style="margin-bottom:10px;background-color:rgba(0,0,0,0.08);"><img src="{{r.image}}" data-bs-hover-animate="bounce" style="width:125px;">
                    <div class="caption">
                        <h4 class="text-center" style="color:#ffffff;background-color:rgba(0,0,0,0.6);">Power Forward</h4>
                        <ul class="list-group">
                            <li class="list-group-item" style="background-color:#ffffff;color:#333333;"><span class="text-uppercase" style="color:#333333;">{{r.name}}</span></li>
                            <li class="list-group-item" style="background-color:#ffffff;color:#ffffff;"><span class="text-uppercase" style="color:#333333;">{{r.age}} years old</span></li>
                            <li class="list-group-item" style="color:#ffffff;background-color:#ffffff;"><span class="text-uppercase" style="color:#333333;">{{r.height}}</span></li>
                            <li class="list-group-item" style="color:#ffffff;background-color:#ffffff;"><span class="text-uppercase" style="color:#333333;">{{r.weight}} lbs</span></li>
                            <li class="list-group-item" style="color:#ffffff;background-color:#ffffff;"><span class="text-uppercase" style="color:#333333;">{{r.ppg}} points per game</span></li>
                            <li class="list-group-item" style="color:#ffffff;background-color:#ffffff;"><span class="text-uppercase" style="color:#333333;">${{r.price}}</span></li>
                        </ul>
                    </div>
                </div>
            </div>

                {% endif %}
            {% endfor %}


             {% for r in roster %}
                        {% if r.position == 'Point Guard' %}
            <div class="col-md-2 col-md-offset-0">
                <div class="thumbnail" style="margin-bottom:10px;background-color:rgba(0,0,0,0.08);"><img src="{{r.image}}" data-bs-hover-animate="rubberBand" style="width:125px;">
                    <div class="caption">
                        <h4 class="text-center" style="color:#ffffff;background-color:rgba(0,0,0,0.6);">Point Guard</h4>
                        <ul class="list-group">
                            <li class="list-group-item" style="background-color:#ffffff;color:#333333;"><span class="text-uppercase" style="color:#333333;">{{r.name}}</span></li>
                            <li class="list-group-item" style="background-color:#ffffff;color:#ffffff;"><span class="text-uppercase" style="color:#333333;">{{r.age}} years old</span></li>
                            <li class="list-group-item" style="color:#ffffff;background-color:#ffffff;"><span class="text-uppercase" style="color:#333333;">{{r.height}}</span></li>
                            <li class="list-group-item" style="color:#ffffff;background-color:#ffffff;"><span class="text-uppercase" style="color:#333333;">{{r.weight}} lbs</span></li>
                            <li class="list-group-item" style="color:#ffffff;background-color:#ffffff;"><span class="text-uppercase" style="color:#333333;">{{r.ppg}} points per game</span></li>
                            <li class="list-group-item" style="color:#ffffff;background-color:#ffffff;"><span class="text-uppercase" style="color:#333333;">${{r.price}}</span></li>
                        </ul>
                    </div>
                </div>
            </div>
                {% endif %}
            {% endfor %}


             {% for r in roster %}
                        {% if r.position == 'Shooting Guard' %}
            <div class="col-md-2 col-md-offset-0">
                <div class="thumbnail" style="margin-bottom:10px;background-color:rgba(0,0,0,0.08);"><img src="{{r.image}}" data-bs-hover-animate="swing" style="width:125px;">
                    <div class="caption">
                        <h4 class="text-center" style="color:#ffffff;background-color:rgba(0,0,0,0.6);">Shooting Guard</h4>
                        <ul class="list-group">
                            <li class="list-group-item" style="background-color:#ffffff;color:#333333;"><span class="text-uppercase" style="color:#333333;">{{r.name}}</span></li>
                            <li class="list-group-item" style="background-color:#ffffff;color:#ffffff;"><span class="text-uppercase" style="color:#333333;">{{r.age}} years old</span></li>
                            <li class="list-group-item" style="color:#ffffff;background-color:#ffffff;"><span class="text-uppercase" style="color:#333333;">{{r.height}}</span></li>
                            <li class="list-group-item" style="color:#ffffff;background-color:#ffffff;"><span class="text-uppercase" style="color:#333333;">{{r.weight}} lbs</span></li>
                            <li class="list-group-item" style="color:#ffffff;background-color:#ffffff;"><span class="text-uppercase" style="color:#333333;">{{r.ppg}} points per game</span></li>
                            <li class="list-group-item" style="color:#ffffff;background-color:#ffffff;"><span class="text-uppercase" style="color:#333333;">${{r.price}}</span></li>
                        </ul>
                    </div>
                </div>
            </div>
                {% endif %}
            {% endfor %}

                {% for r in roster %}
                        {% if r.position == 'Center' %}
            <div class="col-md-2 col-md-offset-0">
                <div class="thumbnail" style="margin-bottom:10px;background-color:rgba(0,0,0,0.08);"><img src="{{r.image}}" data-bs-hover-animate="tada" style="width:125px;">
                    <div class="caption">
                        <h4 class="text-center" style="color:#ffffff;background-color:rgba(0,0,0,0.6);">Center</h4>
                        <ul class="list-group">
                            <li class="list-group-item" style="background-color:#ffffff;color:#333333;"><span class="text-uppercase" style="color:#333333;">{{r.name}}</span></li>
                            <li class="list-group-item" style="background-color:#ffffff;color:#ffffff;"><span class="text-uppercase" style="color:#333333;">{{r.age}} years old</span></li>
                            <li class="list-group-item" style="color:#ffffff;background-color:#ffffff;"><span class="text-uppercase" style="color:#333333;">{{r.height}}</span></li>
                            <li class="list-group-item" style="color:#ffffff;background-color:#ffffff;"><span class="text-uppercase" style="color:#333333;">{{r.weight}} lbs</span></li>
                            <li class="list-group-item" style="color:#ffffff;background-color:#ffffff;"><span class="text-uppercase" style="color:#333333;">{{r.ppg}} points per game</span></li>
                            <li class="list-group-item" style="color:#ffffff;background-color:#ffffff;"><span class="text-uppercase" style="color:#333333;">${{r.price}}</span></li>
                        </ul>
                    </div>
                </div>
            </div>

                {% endif %}
            {% endfor %}

            <div class="col-md-2 col-md-offset-0">
                <div class="thumbnail" style="margin-bottom:10px;width:140px;"><img src="{{ creator.picture }}" data-bs-hover-animate="pulse" style="width:130px;height:150px;">
                    <div class="caption">
                        <h4 class="text-center">{{ creator.name }}</h4>
                        <p class="text-center">Franchise Owner</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="thumbnail" style="margin:0px;margin-bottom:0px;width:50px;background-color:rgba(0,0,0,0.6);height:50px;margin-top:0px;margin-right:0px;margin-left:-10px;"><a href="{{url_for('home')}}"><img src="/static/img/home.png" data-bs-hover-animate="pulse" style="width:50px;height:45px;"></a>
                            <div class="caption" style="padding:0px;"></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    {% if franchise !=" " %}
                    <div class="col-md-12">
                        <img src="{{franchise.image}}" alt="Franchise Logo" class="img-responsive">
                    {% else %}
                        <img src="{{url_for('static', filename='clublogo.svg')}}" alt="Franchise Logo" class="img-responsive">
                    </div>
                    {% endif %}
                </div>
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}
